<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="overlay">
    <h2>Create Account</h2>

    <form>
        <input type="text" placeholder="Name" required><br><br>
        <input type="email" placeholder="Email" required><br><br>
        <input type="password" placeholder="Password" required><br><br>

        <button class="btn">Sign Up</button>
    </form>

    <p>Already have an account? <a href="login.html">Login</a></p>
</div>

</body>
</html>
